* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./assets/background.gif') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

.coin-flip {
    width: 100px;
    display: block;
    margin: 20px auto;
}

.container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto 40px;
    background: url('./assets/kira-coin.gif') no-repeat center center;
    background-size: cover;
    box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
    border-radius: 20px;
}

header {
    background: #ff000091;
    height: 66px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
    padding: 25px;
    color: #f4f4f4;
}

main {
    padding: 24px;
}

label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    margin-bottom: 26px;
}

select {
    background: #ffffff81;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding: 12px;
    box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5);
    margin-top: 6px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 18px;
}

input {
    color: #ff000091;
    background: #ffffff81;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    outline: none;
    padding: 16px;
    box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5);
    margin-top: 6px;
    margin-bottom: 24px;
    font-size: 18px;
    text-align: center;
}

button {
    background: #ff000091;
    border-radius: 25px;
    height: 48px;
    width: 100%;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-top: 24px;
    margin-bottom: 36px;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #ff000091;
    border-radius: 4px;
}

.currency-container {
    text-align: center;
    padding: 10px;
}

.currency-name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.currency-value {
    font-weight: 700;
    font-size: 20px;
    color: #ff000091;
}

.arrow-img {
    margin: 15px auto;
    display: block;
}

.move-down {
    transform: translateY(15px);
    transition: all 0.5s ease-in-out;
}

footer {
    color: #ff0000;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a ion-icon[name="logo-instagram"] {
    display: inline-block;
    vertical-align: -10%;
}

footer a:hover {
    font-weight: 600;
    background: -webkit-linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}